@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
    background: #ffea4a;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.wrap {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.page--wrap {
    width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 15px 25px;
    box-sizing: border-box;
}

.main--logo {
    padding: 25px;
}

.logo {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.logo--text {
    margin-top: 15px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.big-ole-button {
    display: block !important;
    margin: 0 auto !important;
}

.desc {
    text-align: center;
}

.contentBox {
    margin-top: 25px !important;
    background: #fff;
    border: 5px dashed #000000;
    padding: 10px;
    align-self: center;
}

.loading {
    animation: spin;
    animation-duration: 1s;
    width: 32px;
    opacity: .7;
    animation-iteration-count: infinite;
    transform-origin: 16px 16px;
    margin-top: 15px;
    margin-left: 0px;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}